<nav>
    <style>
        nav{background: transparent; padding: 30px;}
        a{color: rgb(51, 50, 50); text-decoration: none;}
        a:hover{color: blue; text-decoration: underline;}
    </style>
    <a href="/">Home</a>
    <a href="/chart-room">Chat Room</a>
    <a href="/chart-room">Signup</a>
</nav>